:root{
    --primary-background-color: #1f1f1f;
    --secundary-background-color: #f0f8ff;
    --primary-font-color: #fff;
    --secundary-font-color: #B19357;
    --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    --font-size: 18px;
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Hurme Geometric Sans";
    src: url(../fonts/HurmeGeometricSans4-SemiBold.ttf);
}
.animated {
    opacity: 0; /* Invisible by default for animation effect */
    transform: translateY(20px); /* Start slightly lower */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}
body{
    width: 100%;
    background-color: #fbfbfb;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-background-color);
    box-shadow: var(--box-shadow);
}
.navLink{
    text-decoration: none;
    margin:15px;
    color: var(--primary-font-color);
    font-weight: 600;
    font-size: var(--font-size);
    transition: ease 0.3s;
}
.navLink:hover{
    color: var(--secundary-font-color);
}
.menu-toggle{
    color: var(--primary-font-color);
    padding: 20px;
    font-size: 30px;
    display: none;
}
.menu-mobile{
    width: 100%;
    background-color: var(--primary-background-color);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    font-size: 20px;
    border-radius: 8px;
}
.logo a {
    text-decoration: none;
    color: var(--primary-background-color);
}

#apresentacao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloApr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px;
    font-size: 20px;
    text-align: center;
}
.menu-cards{
    width: 75%;
    border-radius: 20px;
    padding: 40px 20px;
    background-image: linear-gradient(45deg, rgba(187, 187, 187,0.04) 0%, rgba(187, 187, 187,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(135deg, rgba(166, 166, 166,0.04) 0%, rgba(166, 166, 166,0.04) 50%,rgba(92, 92, 92,0.04) 50%, rgba(92, 92, 92,0.04) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 142px 142px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 25%;
    padding: 5px;
    height: 300px;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.tituloCard{
    font-size: 20px;
    font-weight: 600;
}
.imgCard span {
    font-size: 80px;
    color: var(--primary-background-color);
}

#lensVarilux{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
}
#lensKodak{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif !important;
    background-image: radial-gradient(circle at top right, rgb(145, 8, 41) 0%, rgb(145, 8, 41) 22%,rgb(156, 9, 37) 22%, rgb(156, 9, 37) 38%,rgb(167, 9, 34) 38%, rgb(167, 9, 34) 39%,rgb(178, 10, 30) 39%, rgb(178, 10, 30) 43%,rgb(188, 10, 26) 43%, rgb(188, 10, 26) 64%,rgb(199, 11, 22) 64%, rgb(199, 11, 22) 96%,rgb(210, 11, 19) 96%, rgb(210, 11, 19) 99%,rgb(221, 12, 15) 99%, rgb(221, 12, 15) 100%);
}
.cabecalhoVarilux, .cabecalhoKodak{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cabecalhoVarilux h1, .cabecalhoKodak h1{
    font-size: 28px;
    text-align: center;
    color: var(--primary-font-color);
}
.cabecalhoVarilux span {
    text-transform: lowercase;
    font-family: "Hurme Geometric Sans";
    font-weight: 600;
}
.bodyVarilux, .bodyKodak{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.bodyVarilux ul, .bodyKodak ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bodyVarilux li, .bodyKodak li {
    list-style: none;
    margin: 15px;
    padding: 10px;
    background-color: var(--primary-font-color);
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Hurme Geometric Sans";
}
.demoLente, .demoLenteKodak{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#btnComparar, #btnCompararKodak{
    width: 180px;
    max-height: fit-content;
    padding: 10px;
    margin: 0px 85px;
    margin-top: 0px;
    border: none;
    background-color: var(--secundary-font-color);
    color: var(--primary-font-color);
    font-weight: 600;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
/* Estilo para quando a comparação estiver ativada */
.compare-mode .imgLente, .imgLenteKodak .compare-modeKodak{
    width: 100%;
    justify-content: space-around;
}
.compare-mode, .compare-modeKodak{
    justify-content: center;
    align-items: center;
}
/* Estilo das imagens quando em modo de comparação */
.compare-mode .imgLente img, .imgLenteKodak img {
    max-width: 250px;
    margin: 10px;
}
.demoLente {
    margin-top: 20px;
    text-align: center;
}

.imgLente, .imgLenteKodak {
    display: flex;
    justify-content: center;
}
.imgLente img {
    max-width: 250px;
}
.infoLente, .infoLenteKodak {
    margin-top: 20px;
}
.imgLente {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloDescVarilux, .tituloDescKodak{
    font-size: 30px;
    color: var(--secundary-font-color);
    text-align: center;
    margin-bottom: 25px;
}
.infoLente, .infoLenteKodak{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.descLente, .descLenteKodak{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-font-color);
    font-size: 20px;
}
.tecnologiasLente{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-font-color);
    border-radius: 12px;
    margin-top: 15px;
    width: 100%;
}
.tecnologiasLente img{
    margin: 5px;
    width:120px;
}
.containerTecnologias{
    width: 100%;
    background-color: var(--primary-background-color);
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tituloContTec{
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--secundary-font-color);
    font-family: "Hurme Geometric Sans";
}
.cardTec{
    width: 250px;
    padding: 10px;
    background-color: var(--primary-font-color);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.titleTecno{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.imagesTecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagesTecnologias img{
    margin-bottom: 10px;
    width: 120px;
}
.descTec{
    width: 100%;
    text-align: center;
}

#tratamentos{
    width: 100%;
    margin: 20px 0px;
}
.containerCrizal{
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}
.containerPolarizada{
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
}
.containerTransitions{
    background-image: linear-gradient(45deg, rgb(33,33,33) 0%,transparent 73%),repeating-linear-gradient(90deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),repeating-linear-gradient(0deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),linear-gradient(0deg, rgb(33,33,33),rgb(33,33,33));
}
.descCrizal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.radius{
    overflow: hidden;
    border-radius: 20px; 
}
.descPolarizada, .descTransitions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.descCrizal h3, .descPolarizada h3, .descTransitions h3 {
    width: 30%;
    color: var(--primary-font-color);
}
.containerCrizal, .containerPolarizada, .containerTransitions{
    width: 100%;
}
.tituloCrizal,.tituloPolarizada, .tituloTransitions{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 15px 0px;
    color: var(--primary-font-color);
}
.imgCrizal, .imgPolarizada, .imgTransitions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imgCrizal img, .imgPolarizada img, .imgTransitions img {
    width: 50%;
    max-width: 700px;
    max-height: 380px;
    margin-bottom: 20px;
    object-fit: contain;
}
#tecNanoptix{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(33,33,33) 0%,transparent 59%),repeating-linear-gradient(45deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}
.tituloTecNano{
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--primary-font-color);
}

/*Sistema de comparação da tecnologia Nanoptix */
.comparison-container {
    position: relative;
    width: 800px; /* Defina a largura do contêiner conforme necessário */
    height: 450px; /* Defina a altura do contêiner conforme necessário */
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
}

.comparison-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comparison-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    clip-path: inset(0 50% 0 0); /* Mostra metade da imagem à esquerda */
}

.slider {
    position: absolute;
    top: 0;
    left: 50%; /* Começa no meio */
    height: 100%;
    width: 5px; /* Largura do controle deslizante */
    background-color: #000;
    cursor: ew-resize;
    z-index: 10;
    transform: translateX(-50%);
}

.slider::before {
    content: 'Com Tecnologia';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 30px;
    border-bottom: 2px solid #000;
    background: transparent;
    z-index: 11;
    font-weight: 600;
    font-size: 16px;
}
.slider::after{
    content: 'Sem Tecnologia';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 30px;
    border-bottom: 2px solid #000;
    background: transparent;
    z-index: 11;
    font-weight: 600;
    font-size: 16px;
}
/* Fim da tecnologia Nanoptix */

#armacoes{
    width: 100%;
}
#armacoes h1 {
    text-align: center;
    margin-top: 10px;
}
.image-comparator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.image-container {
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 10px;
}
 /* Ocultar o input file */
.image-container input[type="file"] {
    display: none; /* Esconde o input */
}

/* Botão personalizado */
.image-container button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Espaço entre botão e imagem */
    transition: background-color 0.3s;
}

/* Efeito hover no botão */
.image-container button:hover {
    background-color: #45a049;
}
#cliente{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container {
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.inp, .inpBtn {
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.inpBtn{
    background-color: #4CAF50;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-font-color);
    transition: linear 0.2s;
}
.inpBtn:hover{
    background-color: #45a049;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.buttons button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.btnExibe{
    background-color: #0065eb;
    color: var(--primary-font-color);
    border: none;
    outline: none;
}
.btnOculta {
    background-color: #dedede;
    border: none;
    outline: none;
}
.inpSelect{
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
.btnExcluir{
    transition: ease-in-out 0.2s;
    text-decoration: none;
    color: var(--primary-background-color);
}
.btnExcluir:hover {
    color: #ff2400;

}

@media screen and (max-width:1024px){
    .imgCrizal img, .imgPolarizada img, .imgTransitions img {
        width: 60%;
        height: 350px;
        border-radius: 30px;
        margin-bottom: 40px;
        object-fit: contain;
        box-shadow: none;
    }
    .descCrizal h3 {
        width: 30%;
        font-size: 16px;
    }
}


@media screen and (max-width: 885px){
    .menu-desktop{
        display: none;
    }
    .comparison-container{
        width: 580px;
    }
    .menu-toggle{
        display: flex;
    }
    .logo{
        width: 250px;
    }
    .menu-cards{
        width: 80%;
        flex-direction: column;
    }
    .imgCard span {
        font-size: 60px;
    }
    .card{
        width: 50%;
        margin: 15px;
    }
    .tituloCrizal, .tituloPolarizada, .tituloTransitions {
        font-size: 25px;
        margin-top: 20px;
    }
    .descCrizal,.descPolarizada, .descTransitions{
        flex-direction: column;
    }
    .descCrizal h3, .descPolarizada h3, .descTransitions h3{
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }
    .imgCrizal img, .imgPolarizada img, .imgTransitions img {
        width: 80%;
        height: auto;
        border-radius: 30px;
        margin-bottom: 40px;
        object-fit: cover;
        box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
    }

}
@media screen and (max-width: 590px){
    .comparison-container{
        width: 400px;
        height: 320px;
    }
    .demoLente, .demoLenteKodak{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infoLente, .infoLenteKodak{
        width: 100%;
    }
    .card{
        width: 75%;
        margin: 15px;
    }
    .image-comparator{
        flex-direction: column;
    }
    .image-container {
        width: 85%;
    }
    .image-container input {
        width: 250px;
        padding: 15px;
    }
    .compare-mode .imgLente, .compare-modeKodak .imgLenteKodak {
        flex-direction: column;
    }
    .tecnologiasLente img{
        width: 80px;
    }
    #btnComparar, #btnCompararKodak {
        margin: 0px 15px;
    }
    .tituloCrizal, .tituloPolarizada, .tituloTransitions {
        font-size: 20px;
    }
    .imgCrizal img, .imgPolarizada img, .imgTransitions img {
        width: 90%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }
}
@media screen and (max-width:425px){
    .comparison-container{
        width: 85%;
        height: 320px;
    }
    
    .image-comparator{
        flex-direction: column;
    }
    .image-container {
        width: 85%;
    }
    .image-container input {
        width: 250px;
        padding: 15px;
    }   
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-size: 14px;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }   
    .imgCrizal,.imgPolarizada, .imgTransitions{
        border-radius: 10px;
    }
}
