@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Hurme Geometric Sans";
    src: url(../fonts/HurmeGeometricSans4-SemiBold.ttf);
}
:root{
    --primary-background-color: #1f1f1f;
    --secundary-background-color: #f0f8ff;
    --primary-font-color: #fff;
    --secundary-font-color: #B19357;
    --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    --font-size: 18px;
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #fbfbfb;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-background-color);
    box-shadow: var(--box-shadow);
}
.navLink{
    text-decoration: none;
    margin:15px;
    color: var(--primary-font-color);
    font-weight: 600;
    font-size: var(--font-size);
    transition: ease 0.3s;
}
.navLink:hover{
    color: var(--secundary-font-color);
}
.menu-toggle{
    color: var(--primary-font-color);
    padding: 20px;
    font-size: 30px;
    display: none;
}
.menu-mobile{
    width: 100%;
    background-color: var(--primary-background-color);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    font-size: 20px;
    border-radius: 8px;
}

#apresentacao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloApr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px;
    font-size: 20px;
    text-align: center;
}
.menu-cards{
    width: 75%;
    border-radius: 20px;
    padding: 40px 20px;
    background-image: linear-gradient(45deg, rgba(187, 187, 187,0.04) 0%, rgba(187, 187, 187,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(135deg, rgba(166, 166, 166,0.04) 0%, rgba(166, 166, 166,0.04) 50%,rgba(92, 92, 92,0.04) 50%, rgba(92, 92, 92,0.04) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 142px 142px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 25%;
    padding: 5px;
    height: 300px;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.tituloCard{
    font-size: 20px;
    font-weight: 600;
}
.imgCard span {
    font-size: 80px;
    color: var(--primary-background-color);
}

#lensKodak{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

#lensVarilux{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
}
.cabecalhoVarilux{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cabecalhoVarilux h1{
    font-size: 28px;
    text-align: center;
    color: var(--primary-font-color);
}
.cabecalhoVarilux span {
    text-transform: lowercase;
    font-family: "Hurme Geometric Sans";
    font-weight: 600;
}
.bodyVarilux{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.bodyVarilux ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bodyVarilux li {
    list-style: none;
    margin: 15px;
    padding: 10px;
    background-color: var(--primary-font-color);
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Hurme Geometric Sans";
}
.demoLente{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.imgLente {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLente img {
    width: 250px;
    margin: 15px 0px;
}
.tituloDescVarilux{
    font-size: 26px;
    color: var(--secundary-font-color);
    text-align: center;
    margin-bottom: 25px;
}
.infoLente{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.descLente{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-font-color);
}
.tecnologiasLente{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tecnologiasLente img{
    margin: 5px;
    width:120px;
}
.containerTecnologias{
    width: 100%;
    background-color: var(--primary-background-color);
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tituloContTec{
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--secundary-font-color);
    font-family: "Hurme Geometric Sans";
}
.cardTec{
    width: 250px;
    padding: 10px;
    background-color: var(--primary-font-color);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.titleTecno{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.imagesTecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagesTecnologias img{
    margin-bottom: 10px;
    width: 120px;
}
.descTec{
    width: 100%;
    text-align: center;
}


#tecNanoptix{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(33,33,33) 0%,transparent 59%),repeating-linear-gradient(45deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}
.tituloTecNano{
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--primary-font-color);
}

/*Sistema de comparação da tecnologia Nanoptix */
.comparison-container {
    position: relative;
    width: 800px; /* Defina a largura do contêiner conforme necessário */
    height: 450px; /* Defina a altura do contêiner conforme necessário */
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
}

.comparison-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comparison-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    clip-path: inset(0 50% 0 0); /* Mostra metade da imagem à esquerda */
}

.slider {
    position: absolute;
    top: 0;
    left: 50%; /* Começa no meio */
    height: 100%;
    width: 5px; /* Largura do controle deslizante */
    background-color: #000;
    cursor: ew-resize;
    z-index: 10;
    transform: translateX(-50%);
}

.slider::before {
    content: 'Com Tecnologia';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 30px;
    border-bottom: 2px solid #000;
    background: transparent;
    z-index: 11;
    font-weight: 600;
    font-size: 16px;
}
.slider::after{
    content: 'Sem Tecnologia';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 30px;
    border-bottom: 2px solid #000;
    background: transparent;
    z-index: 11;
    font-weight: 600;
    font-size: 16px;
}
/* Fim da tecnologia Nanoptix */


.image-comparator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.image-container {
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 10px;
}


@media screen and (max-width: 885px){
    .menu-desktop{
        display: none;
    }
    .comparison-container{
        width: 580px;
    }
    .menu-toggle{
        display: flex;
    }
    .logo{
        width: 250px;
    }
    .menu-cards{
        width: 80%;
        flex-direction: column;
    }
    .imgCard span {
        font-size: 60px;
    }
    .card{
        width: 50%;
        margin: 15px;
    }

}
@media screen and (max-width: 590px){
    .comparison-container{
        width: 400px;
        height: 320px;
    }
    .demoLente{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infoLente{
        width: 100%;
    }
    .card{
        width: 75%;
        margin: 15px;
    }
    .image-comparator{
        flex-direction: column;
    }
    .image-container {
        width: 85%;
    }
    .image-container input {
        width: 250px;
        padding: 15px;
    }
    
}
@media screen and (max-width:425px){
    .comparison-container{
        width: 85%;
        height: 320px;
    }
    
    .image-comparator{
        flex-direction: column;
    }
    .image-container {
        width: 85%;
    }
    .image-container input {
        width: 250px;
        padding: 15px;
    }
    
}